a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
.bd-exemple {
    width: 100%;
    size: auto;
}

.bd-exemple .btn:not(:first-child):not(:last-child) {
    width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first-last {
    height: 62px;
}

.bd-exemple .btn{
    border: 1px solid rgb(230, 230, 230);
}

.border-invisible{
    border: 1px solid rgb(230, 230, 230);
}

.agp-up{
    padding-top: 25px;
}

.agp-down{
    padding-bottom: 25px;
}

.{
    padding-top: 20px;
}

.hp-down{
    padding-bottom: 20px;
}

.lp-up{
    padding-top: 5px;
}

.lp-down{
    padding-bottom: 5px;
}

.lm-up{
    margin-top: 8px
}

.btn-primary{
    background-color: #229AD4;
}

.btn-danger{
    background-color: #FF4A60
}

.btn-bigger{
    padding-top: 5%;
    padding-bottom: 25px;
    height: 102px;
}

.gradient{
    background-image: radial-gradient(white, #229AD4);
    color: grey;
}

.gradient:hover{
    color: black;
    background-image: radial-gradient(white, rgb(28, 128, 179));
}

.column-scroll{
    border-left: 1px solid rgba(0,0,0,.1);
    overflow:scroll; height:50rem;
}

.big-text{
    font-size: 16px
}

hr{margin-top:0rem;}