@{
    string c = ViewContext.RouteData.Values["controller"].ToString();

}

<nav class="navbar navbar-expand-lg" style="background-color:@ViewData["SubscriptionColor"];">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <img src="@ViewData["SubscriptionLogo"]" width="100" class="d-inline-block align-top" alt="">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-simple btn-link xbtn-fill xbtn-round btn-icon d-none d-lg-block">
                    <i class="fa fa-fw fa-ellipsis-v visible-on-sidebar-regular"></i>
                    <i class="fa fa-fw fa-bars visible-on-sidebar-mini"></i>
                </button>
            </div>

            <a class="navbar-brand" href=""> @ViewData["Title"] </a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>

    </div>
</nav>

<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<br />

<!-- End of Topbar -->
<nav class="menu-navigation-icons navbar navbar-expand navbar-light bg-white mb-4 static-top shadow bd-exemple" style="max-height: inherit;">
    <a href="#" class="menu-grey" style="width: 55px;"><i class="fas fa-question"></i></a>

    <a asp-controller="planosterapêuticos" asp-action="index" class="menu-blue">
        <i class="fas fa-file-alt"></i>
        <span>Protocolo</span>
    </a>

    <a href="#" class="menu-blue disabled"><i class="fas fa-comment-alt"></i><span>Chat</span></a>

    @*<a asp-controller="DashBoard" asp-action="Ocorrencias" class="menu-red">
            <i class="fas fa-phone-volume"></i>
            <span id="menu-chamada">Chamadas(0)</span>
        </a>*@

    <a href="#" class="menu-red"><i class="fas fa-phone"></i><span id="menu-chamada">Chamadas(0)</span></a>


    <a asp-controller="DashBoard" asp-action="index" class="menu-blue">
        <i class="fas fa-chart-line"></i>
        <span>Dashboard</span>
    </a>

    <a asp-controller="resumo" asp-action="index" class="menu-blue">
        <i class="fas fa-calendar-alt"></i>
        <span>Agenda</span>
    </a>

    <a asp-controller="pacientes" asp-action="index" class="menu-blue">
        <i class="fas fa-user-injured"></i>
        <span>Pacientes</span>
    </a>

    <a asp-controller="médicos" asp-action="index" class="menu-blue">
        <i class="fas fa-user-md"></i>
        <span id="menu-equipe">Equipe Multidiciplinar</span>
    </a>

    <a asp-controller="planosdesaúde" asp-action="index" class="menu-blue">
        <i class="fas fa-hospital"></i>
        <span>Planos de Saúde</span>
    </a>

    <a asp-controller="medicamentos" asp-action="index" class="menu-blue">
        <i class="fas fa-capsules"></i>
        <span>Medicamentos</span>
    </a>

    @if (User.IsInRole("admin"))
    {

        <a asp-controller="users" asp-action="index" class="menu-blue">
            <i class="fas fa-user-circle"></i>
            <span id="menu-email">Usuários</span>
        </a>

        <a asp-controller="subscriptions" asp-action="index" class="menu-blue">
            <i class="fas fa-user-circle"></i>
            <span id="menu-email">Assinaturas</span>
        </a>
    }

    <a asp-controller="Manage" asp-action="ChangePassword" class="menu-blue">
        <i class="fas fa-user-circle"></i>
        <span id="menu-email"><vc:user></vc:user></span>
    </a>

    <a asp-controller="Account" asp-action="Logout" style="width: 55px;" class="menu-blue">
        <i class="fas fa-sign-out-alt"></i>

    </a>

</nav>

